doctype html
html(lang='en')
  head(data-hook='inside_head')
    title Live Good Home Products - Live Good Home Products
    script#facebook-jssdk(src='./Live Good Home Products - Live Good Home Products_files/all.js')
    script(type='text/javascript', async='', src='./Live Good Home Products - Live Good Home Products_files/ga.js')
    script(src='./Live Good Home Products - Live Good Home Products_files/all-c161c90972b274e75f74aeaed59c44b4.js', type='text/javascript')
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    link(href='./Live Good Home Products - Live Good Home Products_files/home-6a1b94c0ba8f0948d5aacdd4421e109e.css', media='screen', rel='stylesheet', type='text/css')
    script(src='./Live Good Home Products - Live Good Home Products_files/jquery.bxSlider.min-dd4498a7c11a5b4c458f04d65beb3d06.js', type='text/javascript')
    script(src='./Live Good Home Products - Live Good Home Products_files/jquery.colorbox-a9e09860486d08588ec56186ebb716ce.js', type='text/javascript')
    script(type='text/javascript').
      $(function () {
      var currentY = 0;
      function getPageScroll() {
      var yScroll;
      if (self.pageYOffset) {
      yScroll = self.pageYOffset;
      } else if (document.documentElement && document.documentElement.scrollTop) {
      yScroll = document.documentElement.scrollTop;
      } else if (document.body) {
      yScroll = document.body.scrollTop;
      }
      return yScroll;
      }
      $(".homeslider").bxSlider({ auto: true, pager: true, pause: 8000 });
      $(".group1").colorbox({rel:'group1', width:"70%", heigth:"90%", scalePhotos: true,
      onClosed: function() {
      $('#press_wrap').show();
      window.scrollTo(0, currentY);
      },
      onOpen: function() {
      currentY = getPageScroll();
      window.scrollTo(0, 0);
      $('#press_wrap').hide();
      }
      });
      });
    style(type='text/css').
    style(type='text/css').
      .fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
      .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f6f7f8;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3a5795;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #2f477a;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f8;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
      .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
  body#default.one-col(data-hook='body')
    #container
      header#header.row(data-hook='')
        figure#lg-logo.columns.alpha.six(data-hook='')
          a(href='http://livegoodinc.com/home')
            img(alt='Lglogo', src='./Live Good Home Products - Live Good Home Products_files/lglogo-d63a7197cc854147123451f355066fc8.png')
        form#mc-embedded-subscribe-form.validate(action='http://livegoodinc.us2.list-manage2.com/subscribe/post?u=30e6315fb5ec273f060fbe1bb&id=492dc69a65', method='post', name='mc-embedded-subscribe-form', target='_blank')
          input#mc-email.auto-hint(title='Enter Email for Live Good news', name='EMAIL', size='25', type='email', onfocus="if(this.value=='Email: Join our list!')this.value=''", onblur="if(this.value=='')this.value='Email: Join our list!'", value='Email: Join our list!')
          input#mc-subscribe.button(value='Subscribe', name='subscribe', type='submit')
        nav.columns.alpha.omega.sixteen
          ul#main-nav-bar.inline(data-hook='')
            nav#top-nav-bar.columns.ten
              ul#nav-bar.inline(data-hook='')
                li#link-to-login
                  a(href='http://livegoodinc.com/login') Login
                li#search-bar(data-hook='')
            li#link-to-cart(data-hook='')
              a(href='http://livegoodinc.com/cart') Shopping Bag
              a(href='http://livegoodinc.com/cart')
                img(alt='Icon_bag', src='./Live Good Home Products - Live Good Home Products_files/icon_bag.gif')
        #lg-links.right
          ul.nav
            li
              a(href='http://livegoodinc.com/home-products') Products
            li
              a(href='./Live Good Home Products - Live Good Home Products_files/Live Good Home Products - Live Good Home Products.html') Our Mission
            li
              a(href='http://livegoodinc.com/sustainability') Sustainability
            li
              a(href='http://livegoodinc.com/dye-process') Dye Process
            li
              a(href='http://livegoodinc.com/interview') Olympic Gold Standard
            li
              a(href='http://livegoodinc.com/press') Press
      #content
        .content_inner
          #sidebar
            ul#sidebar-nav
              li
                a.current(href='./Live Good Home Products - Live Good Home Products_files/Live Good Home Products - Live Good Home Products.html') OUR MISSION
              li
                a(href='http://livegoodinc.com/organic-supima-cotton') ORGANIC SUPIMA
              li
                a(href='http://livegoodinc.com/dye-process') OUR DYE PROCESS
              li
                a(href='http://livegoodinc.com/sustainability') SUSTAINABILITY
              li
                a(href='http://livegoodinc.com/press') PRESS
          #maincontent
            #banner
              img(src='./Live Good Home Products - Live Good Home Products_files/about-us-new.jpg', width='790', height='300', alt='')
            #inner
              #leftgroup
                .title_bar
                  h2 LIVE GOOD WAS CREATED IN RESPONSE TO A DILEMMA:
                .message
                  h2
                    | How can you take great care of yourself while acting responsibly toward the environment?
                .bottom_message
                  a.learnmore(href='http://livegoodinc.com/sustainability')
                    strong Learn More
                  p About Live Good's pledge of sustainability
              #postwrap
                p
                  | We all want to live a good life — one in which we contribute something positive to the world. But we also yearn for "the good life," a state in which our own mental and physical health is in balance.
                p
                  | How can you achieve both goals, caring for your community and environment while respecting your own needs for personal fulfillment?
                p
                  | We founded Live Good to forge a path toward that dual achievement. We believe you don't need to compromise. You can live sustainably, supporting the long-term health of your neighbors and the planet, and also live well, in elegance and comfort. We want to help you find that state of harmony with nature, with your community, and with yourself.
                p
                  | So we've started a business that reflects this ethos: a Live Good line of home products that upholds each and every aspect of our mission. Everything we make is local. Everything is sustainably sourced and organic. And everything is designed to increase your quality of life. We haven't sacrificed luxury and beauty in our commitment to supporting practices that are ecologically and economically sound.
                p
                  img.right_img(src='./Live Good Home Products - Live Good Home Products_files/inner_img.jpg', width='135', height='186', alt='')
                  | We've begun with
                  a(href='http://livegoodinc.com/t/category/bedding') Sheeting & Duvets
                  | ,
                  a(href='http://livegoodinc.com/t/category/home-accents') Decorative Pillows
                  | , and our
                  a(href='http://livegoodinc.com/t/category/baby-pillows') Baby Collection
                  | , all made of organic cotton and produced in Orange County, California. We searched for materials of the highest quality, grown and manufactured according to the strictest environmental standards. All our products are free of pesticides, synthetic fertilizers, and irradiation. The result is a pure, natural fabric that is as healthy for you as it is for the soil, air, and water, and the agricultural community that supports its production.
                p
                  | We also insisted on local producers who have committed to keeping jobs in the United States. Everything that goes into our products – from the fabric to the thread to the natural wood buttons – is Made in the U.S.A. This not only ensures compliance with environmental and ethical standards, but it also means that we're supporting local families and the employers who have chosen to stay on U.S. soil.
                p
                  | We hope you will look through our
                  a(href='http://livegoodinc.com/home-products') collection,
                  |  but we also want to hear from you on the larger issues that drive our mission. Through our
                  a(href='http://blog.livegoodinc.com/') blog
                  |  and our
                  a(href='http://www.facebook.com/livegoodforlife') Facebook page,
                  |  we're exploring topics of sustainability and environmental responsibility. Please join us online and get involved in this ongoing conversation.
                p
                  | Our Live Good products are the tangible expression of our values. We hope to offer something you can be proud to bring home, adding a layer of comfort and elegance to your space while supporting organic agriculture and local production.
                p
                  | There's much more to come – this is just the beginning – so please stay connected with us as we continue to develop ways to help you Live Good.
        #bottom_info
          .info_wrap
            span.message LUXURIOUS, 100% CERTIFIED ORGANIC, SUSTAINABLE
            h2 Shop the Live Good Designer Home Collection
            ul
              li
                a(href='http://livegoodinc.com/t/category/bedding')
                  h4 Sheeting & Duvets
                a(href='http://livegoodinc.com/t/category/bedding')
                  img(src='./Live Good Home Products - Live Good Home Products_files/info_img1.jpg', alt='')
              li
                a(href='http://livegoodinc.com/t/category/home-accents')
                  h4 Decorative Plllows
                a(href='http://livegoodinc.com/t/category/home-accents')
                  img(src='./Live Good Home Products - Live Good Home Products_files/info_img2.jpg', alt='')
              li
                a(href='http://livegoodinc.com/t/category/baby-pillows')
                  h4 Baby Collection
                a(href='http://livegoodinc.com/t/category/baby-pillows')
                  img(src='./Live Good Home Products - Live Good Home Products_files/info_img3.jpg', alt='')
      footer#footer.row(data-hook='')
        table#footer-table(cellpadding='0', cellspacing='0')
          tbody
            tr
              td
                #footer-left(data-hook='')
                  .stitle.fcell FOLLOW US:
                  .fcell.sicon
                    a(href='http://www.facebook.com/livegoodforlife', target='_blank')
                      img(src='./Live Good Home Products - Live Good Home Products_files/facebook.png', width='19', height='19', alt='')
                  .fcell.sicon
                    a(href='http://twitter.com/LiveGoodInc', target='_blank')
                      img(src='./Live Good Home Products - Live Good Home Products_files/twitter.png', width='19', height='19', alt='')
                  .fcell.sicon
                    a(href='http://pinterest.com/livegoodinc', target='_blank')
                      img(src='./Live Good Home Products - Live Good Home Products_files/pinterest.png', width='19', height='19', alt='')
                  .fcell
                  .fcell
              td
                #lg-links-bottom.right
                  ul.nav
                    li
                      a(href='http://livegoodinc.com/home') Home
                    li
                      a(href='http://blog.livegoodinc.com/') Blog
                    li
                      a(href='http://livegoodinc.com/faq') FAQ
                    li
                      a(href='http://livegoodinc.com/wholesale') Wholesale
                    li
                      a(href='http://livegoodinc.com/return-policy') Shipping & Return Policy
                    li
                      a(href='http://livegoodinc.com/terms') Terms of Use
                    li
                      a(href='http://livegoodinc.com/contact-us') Contact Us
            tr
              td
                #fb-root.fb_reset
                  div(style='position: absolute; top: -10000px; height: 0px; width: 0px;')
                    div
                      iframe#fb_xdm_frame_http(name='fb_xdm_frame_http', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', aria-hidden='true', title='Facebook Cross Domain Communication Frame', tabindex='-1', src='./Live Good Home Products - Live Good Home Products_files/1ldYU13brY_.html', style='border: none;')
                      iframe#fb_xdm_frame_https(name='fb_xdm_frame_https', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', aria-hidden='true', title='Facebook Cross Domain Communication Frame', tabindex='-1', src='./Live Good Home Products - Live Good Home Products_files/1ldYU13brY_(1).html', style='border: none;')
                  div(style='position: absolute; top: -10000px; height: 0px; width: 0px;')
                    div
                script.
                  (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) { return; }
                  js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
                .fb-like.fb_iframe_widget(data-href='http://www.facebook.com/livegoodforlife', data-send='false', data-width='400', data-show-faces='true', fb-xfbml-state='rendered', fb-iframe-plugin-query='app_id=&container_width=207&href=http%3A%2F%2Fwww.facebook.com%2Flivegoodforlife&locale=en_US&sdk=joey&send=false&show_faces=true&width=400')
                  span(style='vertical-align: bottom; width: 400px; height: 20px;')
                    iframe(name='f216a426e8', width='400px', height='1000px', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', title='fb:like Facebook Social Plugin', src='./Live Good Home Products - Live Good Home Products_files/like.html', style='border: none; visibility: visible; width: 400px; height: 20px;')
              td.copyright
                div COPYRIGHT © 2011-2012 LIVE GOOD, INC. ALL RIGHTS RESERVED.
    script.
      Spree.api_key = "";
    #cboxOverlay(style='display: none;')
    #colorbox(role='dialog', tabindex='-1', style='display: none;')
      #cboxWrapper
        div
          #cboxTopLeft(style='float: left;')
          #cboxTopCenter(style='float: left;')
          #cboxTopRight(style='float: left;')
        div(style='clear: left;')
          #cboxMiddleLeft(style='float: left;')
          #cboxContent(style='float: left;')
            #cboxTitle(style='float: left;')
            #cboxCurrent(style='float: left;')
            button#cboxPrevious(type='button')
            button#cboxNext(type='button')
            button#cboxSlideshow
            #cboxLoadingOverlay(style='float: left;')
            #cboxLoadingGraphic(style='float: left;')
          #cboxMiddleRight(style='float: left;')
        div(style='clear: left;')
          #cboxBottomLeft(style='float: left;')
          #cboxBottomCenter(style='float: left;')
          #cboxBottomRight(style='float: left;')
      div(style='position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;')
